* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.video {
    

        position: absolute;
        width: 100%;
        height: 100%;
        background-attachment: scroll;
        overflow: hidden;
      
}
.video video {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
.video .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: rgb(24, 24, 73);
    opacity: 0.5;
}